.about {
    margin: 0 0 20px;
    @include tablet {
        margin: 0 auto 20px;
        max-width: 560px;
    }
    @include desktop {
        text-align: left;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 100%;
    }

    &_text {
        text-align: center;
        @include desktop {
            text-align: left;
            flex-grow: 2;
            width: 48%;
            margin: 64px 60px 40px 40px;
        }

        p:not([class]) {
            margin: 0 0 40px;
        }
    }

    &_image {
        max-width: 100%;
        margin: auto;
        display: block;
        margin: 40px auto 0;
        @include tablet {
            flex-shrink: 0;
        }
        @include desktop {
            flex-grow: 1;
            min-width: 526px;
            max-width: 630px;
            margin: 0 auto;
            width: 50%;
        }
    }
}