.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    max-width: $max-width;
    padding: 16px $layout_indent;
    @include tablet {
        padding: $layout_indent__big 40px;
    }
    @include desktop {
        padding-top: 60px;
        padding-left: 60px;
        padding-right: 60px;
    }

    &_logo {
    }
    &_logo-image {
        width: 86px;
        height: 40px;
        @include desktop {
            width: 137px;
            height: 64px;
        }
    }
    &_menu {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-grow: 1;
        @include tablet {
            justify-content: space-between;
        }
    }
    &_social {
        transition: .2s ease-in-out filter;

        @include tablet {
            width: 86px;
            display: block;
            text-align: right;
        }
        @include desktop {
            width: 137px;
        }

        &:hover {
            filter: saturate(1.2) contrast(2);
        }
    }
}