$img: "./src/img";

$cBackground: #fff;

$color: #121426;
$cLink: #343B6F;
$cLink__hover: #946AD7;
$cLinkSecondary: #946AD7;
$cLinkSecondary__hover: #17B7CC;
$cBeige: #FAF3EB;

$input_color: #373e44;

$font-family: 'Montserrat', sans-serif;

$font-size: 16px;
$font-size__small: 14px;

$max-width: 1280px;
$layout_indent: 24px;
$layout_indent__big: 40px;
